body {
    background-color: #222;
    color: lime;
    text-align: center;
    margin: 50px auto;
}

img {
    width: 10%;
}

header {
    
}
label {
    color: darkgray;
}

section {
    width: 80%;
    margin: 10px auto;
}

.item {
    width: 30%;
    margin: 10px auto;
    border: 2px solid #aaa;
    background-color: #444;
    color: white;
}

input {
    display: block;
    margin: 5px auto;
}

.hidden {
    display: none;
}